body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  /* border: 1px dashed blue; */
}
.container {
  /* border: 1px dotted red; */
  margin: 0px auto;
  width: 800px;
}
a {
  text-decoration: none;
  color: #2a7ae2;
}
/* a:not(*) {
  text-decoration: underline;
  color: #2a7ae2;
} */
a:hover {
  text-decoration: underline;
}
a[href*="youtube.com/"] {
  background: url(img/favicon_yt.svg) no-repeat left center;
  padding-left: 20px;
  margin-left: 10px;
  height: 16px;
  width: 16px;
}
a[href*="github.com/"] {
  background: url(img/favicon_gh.svg) no-repeat left center;
  padding-left: 20px;
  margin-left: 10px;
  height: 16px;
  width: 16px;
}
a[href*="greenfox.academy/"] {
  /* color: #74ad5a; */
  background: url(img/favicon_gf.svg) no-repeat left center;
  padding-left: 20px;
  margin-left: 10px;
  height: 16px;
  width: 16px;
}
a[href*="codepen.io/"] {
  background: url(img/favicon_cp.svg) no-repeat left center;
  padding-left: 20px;
  margin-left: 10px;
  height: 16px;
  width: 16px;
}
a[href*="localhost:5501/"] {
  background: url(img/localhost.svg) no-repeat left center;
  padding-left: 20px;
  margin-left: 10px;
  height: 16px;
  width: 16px;
}
p {
  margin: 0px auto;
  font-size: 16px;
  line-height: 24px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}
h3 {
  font-size: 19px;
  line-height: 28px;
}
